header {
  background-image: url(../thunder-force-stadium/assets/image-1.png);
  background-size: cover;
  .headerContainer {
    display: flex;
    justify-content: center;
      .navTitle {
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
        .navBar ul {
            display: flex;
            justify-content: space-evenly;
        }
        .title {
          display: flex;
          flex-direction: column;
          text-align: center;
          max-width: 40%;
          margin: 0 auto;
          p {
            background-color: #9200FF;
            padding: 10px 0px;
            margin: 0;
          }
        }
      }
    .socialLinks {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-evenly;
      right: 15px;
      top: 15%;
    }
  }
}


