header {
  background-image: url(../thunder-force-stadium/assets/image-1.png);
  background-size: cover;
  .headerContainer {
    display: flex;
    justify-content: center;
      .navTitle {
        display: flex;
        flex-direction: column;
        .navBar ul {
            display: flex;
            justify-content: space-evenly;
        }
        .title {
          display: flex;
          flex-direction: column;
          text-align: center;
          max-width: 40%;
          align-self: center;
          p {
            background-color: #9200FF;
            padding: 10px 0px;
            margin: 0;
          }
        }
      }
    .socialLinks {
      display: flex;
      flex-direction: column;
      position: absolute;
      justify-content: space-evenly;
      right: 15px;
      top: 15%;
    }
  }
}

.bottomNav {
  height: 10vh;
  background-color: #3D0369;
  display: flex;
  justify-content: center;
  align-items: center;
  .navBar {
    width: 40%;
    ul {
      li {
        margin: 10px 10px;
      }
      margin: 0;
      display: flex;
      justify-content: space-around;
    }
  }
}

