.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

li {
  list-style: none;
}

button {
  background-color: #9200FF;
  border: 0;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  line-height: 29px;
  font-family: 'Iceberg', sans-serif;
}

header {
  background-image: url(../thunder-force-stadium/assets/image-1.png);
  background-size: cover;
  height: 100vh;

  .headerContainer {
      display: flex;

      .navTitleContainer {
        display: flex;
        flex-direction: column;

        .title {
          h1 {
              font-family: 'Iceberg', sans-serif;
              color: white;
              text-align: center;
              font-size: 80px;
              line-height: 80px;
            }

          p {
            text-align: center;
          }

        }

        .navBar {
          
          
          ul {
            display: flex;
            justify-content: space-evenly;

            li {
              list-style: none;
              a {
                  text-decoration: none;
                  color: white;
                  text-transform: uppercase;
                  
              }
            }
          }
        }
      }

      .socialLinks {
        display: flex;
        flex-direction: column;
        border: white solid 1px;
      }
    }
}

.performingLineUpTest {
  display: flex;
  .textTest {
    width: 50%;
    padding: 100px;
    
  }
  .imageTest{
    width: 50%;

  }
}

.performingLineUp, .experiences {
  background-color: #0F0632;
  display: flex;

    .wrapper {
      display: flex;

      .textContainer {
        width: 50%;
        padding: 50px;
      }
      .imgContainer {
          width: 50%;
      
          img {
            width: 100%;
            max-height: 100%;
            height: auto;
            display: inline-block;
            object-fit: cover;
      
          }
        }
        
    }

}


.tickets {
  display: flex;
}



.textContainer h2 {
  font-family: 'Iceberg', sans-serif;
  font-size: 52px;
}

.tickets {
  background-color: #08080B;
}
footer, .gallery {
  background-color: #0F0632;
}

.bottomNav, .companyInfo {
  background-color: #3D0369;
}




