.bottomNav {
  height: 10vh;
  background-color: #3D0369;
  display: flex;
  justify-content: center;
  margin: 0 auto;

  .navBar {
    width: 40%;

    ul {
      li {
        margin: 10px 10px;
      }

      margin: 0;
      display: flex;
      justify-content: space-around;
    }
  }
}

.companyInfo {
  background-color: #3D0369;
  display: flex;
  justify-content: space-evenly;

  .contact,
  .subscribe {
    padding: 20px 50px;
    flex-basis: 50%;
    p {
      margin: 0;
    }
  }

  .subscribe {
    display: flex;
    flex-direction: column;

    button {
      padding: 3x 10px;
    }


  }
}

footer {
  padding: 10px 0;
  background-color: #0F0632;
  color: white;
  text-align: center;

  p {
    margin: 0;
  }
}