@media (max-width: 800px) {
  .navTitle .navBar {
    display: none;
  }

  .socialLinks {
    display: none;
  }

  .title p {
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .performingLineUp {
    flex-direction: column-reverse;
  }

  .experiences {
    flex-direction: column;
  }

  .tickets .wrapper {
    flex-direction: column;

  }

  .info ul {
    padding: 0;
    display: flex;
    flex-direction: column;

    .infoContainer {
      white-space: nowrap;
    }
  }

  .gallery .wrapper ul.imgContainer {
    flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .bottomNav ul {
    margin: 0;
    width: auto;
  }

  .companyInfo {
    flex-direction: column;
    .companyInfo, .subscribe {
      text-align: center;
    }
  }
}