html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../thunder-force-stadium/assets/image-1.png);
  background-size: cover;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header .headerContainer .navTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}
header .headerContainer .navTitle .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .headerContainer .navTitle .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 40%;
  -ms-flex-item-align: center;
      align-self: center;
}
header .headerContainer .navTitle .title p {
  background-color: #9200FF;
  padding: 10px 0px;
  margin: 0;
}
header .headerContainer .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  right: 15px;
  top: 15%;
}

.bottomNav {
  height: 10vh;
  background-color: #3D0369;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bottomNav .navBar {
  width: 40%;
}
.bottomNav .navBar ul {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.bottomNav .navBar ul li {
  margin: 10px 10px;
}

.performingLineUp,
.experiences {
  background-color: #0F0632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.performingLineUp .textContainer,
.experiences .textContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 100px 50px;
  -ms-flex-item-align: center;
      align-self: center;
}
.performingLineUp .textContainer a,
.experiences .textContainer a {
  background-color: #9200FF;
  padding: 10px 15px;
}
.performingLineUp .imgContainer,
.experiences .imgContainer {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.performingLineUp .imgContainer img,
.experiences .imgContainer img {
  width: 100%;
  max-height: 100%;
  height: auto;
}

.tickets {
  background-color: #08080B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tickets .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.tickets .wrapper .imgContainer {
  margin: 20px;
  -ms-flex-item-align: center;
      align-self: center;
}
.tickets .wrapper .imgContainer img {
  width: 100%;
  max-height: 100%;
}
.tickets .wrapper .textContainer {
  height: 80%;
}
.tickets .wrapper .textContainer a {
  background-color: #9200FF;
  padding: 10px 15px;
}

.info {
  background-color: #3D0369;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info ul {
  width: 50%;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.info ul .infoContainer {
  margin: 100px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.info ul .infoContainer i {
  font-size: xx-large;
}

.gallery {
  background-color: #0F0632;
}
.gallery .wrapper h2 {
  padding: 50px 25px;
  text-align: center;
  margin: 0;
}
.gallery .wrapper .imgContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.gallery .wrapper .imgContainer li {
  margin: 20px;
}
.gallery .wrapper .imgContainer li img {
  max-width: 100%;
  max-height: 100%;
}

.companyInfo {
  background-color: #3D0369;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.companyInfo .contact,
.companyInfo .subscribe {
  padding: 20px 50px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
.companyInfo .contact p,
.companyInfo .subscribe p {
  margin: 0;
}
.companyInfo .subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.companyInfo .subscribe button {
  padding: 3x 10px;
}

footer {
  padding: 10px 0;
  background-color: #0F0632;
  color: white;
  text-align: center;
}
footer p {
  margin: 0;
}

@media (max-width: 800px) {
  .navTitle .navBar {
    display: none;
  }

  .socialLinks {
    display: none;
  }

  .title p {
    white-space: nowrap;
    font-size: 0.8rem;
  }

  .performingLineUp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .experiences {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .tickets .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .info ul {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info ul .infoContainer {
    white-space: nowrap;
    margin: 10px 10px;
  }

  .gallery .wrapper ul.imgContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
  }

  .bottomNav ul {
    margin: 0;
    width: auto;
  }

  .companyInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .companyInfo .companyInfo, .companyInfo .subscribe {
    text-align: center;
  }
}
.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 125%;
  font-family: "Montserrat", sans-serif;
  color: white;
  line-height: 29px;
}

button {
  background-color: #9200FF;
  font-family: "Iceberg", sans-serif;
  color: white;
  font-size: 1rem;
  border: none;
}

input {
  border: 0;
}

li {
  list-style: none;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

h1, h2 {
  font-family: "Iceberg", sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 4rem;
}
h1 p, h2 p {
  font-family: "Montserrat", sans-serif;
  font-size: 1.75rem;
  line-height: 1.45rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
}