html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  color: white;
}

li {
  list-style: none;
}

button {
  background-color: #9200FF;
  border: 0;
  color: white;
  padding: 10px 20px;
  font-size: 25px;
  line-height: 29px;
  font-family: "Iceberg", sans-serif;
}

header {
  background-image: url(../thunder-force-stadium/assets/image-1.png);
  background-size: cover;
  height: 100vh;
}
header .headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .headerContainer .navTitleContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
header .headerContainer .navTitleContainer .title h1 {
  font-family: "Iceberg", sans-serif;
  color: white;
  text-align: center;
  font-size: 80px;
  line-height: 80px;
}
header .headerContainer .navTitleContainer .title p {
  text-align: center;
}
header .headerContainer .navTitleContainer .navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
header .headerContainer .navTitleContainer .navBar ul li {
  list-style: none;
}
header .headerContainer .navTitleContainer .navBar ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}
header .headerContainer .socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: white solid 1px;
}

.performingLineUpTest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.performingLineUpTest .textTest {
  width: 50%;
  padding: 100px;
}
.performingLineUpTest .imageTest {
  width: 50%;
}

.performingLineUp, .experiences {
  background-color: #0F0632;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.performingLineUp .wrapper, .experiences .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.performingLineUp .wrapper .textContainer, .experiences .wrapper .textContainer {
  width: 50%;
  padding: 50px;
}
.performingLineUp .wrapper .imgContainer, .experiences .wrapper .imgContainer {
  width: 50%;
}
.performingLineUp .wrapper .imgContainer img, .experiences .wrapper .imgContainer img {
  width: 100%;
  max-height: 100%;
  height: auto;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

.tickets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.textContainer h2 {
  font-family: "Iceberg", sans-serif;
  font-size: 52px;
}

.tickets {
  background-color: #08080B;
}

footer, .gallery {
  background-color: #0F0632;
}

.bottomNav, .companyInfo {
  background-color: #3D0369;
}